<div class="num">
    <span class="num__1">1</span>
    <span class="num__orange num__2">2</span>
    <span>3</span>
    <span>4</span>
    <span>5</span>
    <span class="num__orange num__6">6</span>
    <span>7</span>
    <span>8</span>
    <span>9</span>
    <span>10</span>
    <span>11</span>
    <span class="num__orange num__12">12</span>
    <span>13</span>
    <span>14</span>
    <span>15</span>
    <span>16</span>
    <span>17</span>
    <span>18</span>
    <span>19</span>
    <span class="num__orange num__20">20</span>
</div>