<div class="man">
    <div class="man__text">
        Ищи подсказку в учебном курсе
        <a href="#" class="man__orange">
            «Увлекательное программирование на языке C#
        </a>
    </div>
</div>