<div class="header">
    <div class="header__logo"></div>
    <div class="header__links">
        <a href="#" class="header__save">
            Сохрани персонажа
        </a>
        <div class="header__icons">
            <a href="#" class="header__icon-0 header__icon"></a>
            <a href="#" class="header__icon-1 header__icon"></a>
            <a href="#" class="header__icon-2 header__icon"></a>
        </div>
    </div>
</div>