<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/task.css">
    <title>DreamSpark Task</title>
</head>
<body>
<section class="page">
    {{> task/header/header}}
    {{> task/numeration/numeration}}
    <div class="text">
        Для того, чтобы записать первый трек – реши задачу:
    </div>
    <div class="content">
        <div class="content-left">
            {{> task/task/task}}
        </div>
        <div class="content-right">
            {{> task/answer/answer}}
            {{> task/advices/advices}}
        </div>
    </div>
    {{> task/man/man}}
    {{> index/footer/footer}}
</section>
</body>
</html>