<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="css/index.css">
        <title>DreamSpark</title>
    </head>
    <body>
        <section class="page">
            {{> index/login/login}}
            {{> index/header/header}}
            {{> index/content/content}}
            {{> index/footer/footer}}
            <div class="choose-style">
                Выбери свой стиль
                программирования!
            </div>
        </section>
    </body>
</html>