<div class="task">
    <div class="task__title">
        Задача
    </div>
    <div class="task__text">
        На межгалактическом конгрессе говорят на множестве разных языков.
        Чтобы понимать друг друга, существуют переводчики, но переводчики
        есть не для всех пар языков. В <a href="#" class="task__orange">текстовом файле </a>
        в каждой строке содержится (через пробел) имя переводчика, с какого языка
        и на какой он может переводить.
        Какое минимальное количество переводчиков необходимо, чтобы переводить
        с Клингонского на Албанский?

    </div>
    <div class="task__attach">
        <img src="images/attach.png">
        <a href="#" class="task__orange">
            Скачай файл для решения задачи
        </a>
    </div>
</div>