<div class="advices">
    <div class="advices__title">
        Стань звездой быстрее остальных!
    </div>
    <div class="advices__text">
        Для того чтобы решать задачи было быстрее и проще —
        скачай бесплатно
        <a class="task__orange" href="#">Visual Studio Community Edition</a>
    </div>
    <div class="advices__text">
        Получи полный набор программиста на
        <a class="task__orange" href="#">DreamSpark</a>
    </div>
</div>